<strong>Olá, {{student.name}}</strong>
<p>Sua pergunta foi respondida</p>
<ul>
  <li><strong>A pergunta foi respondida às:</strong> {{dateAnswer}}</li>
  <li><strong>A pergunta foi a seguinte:</strong> {{helpOrder.question}}</li>
  <li><strong>A resposta para sua pergunta:</strong> {{helpOrder.answer}}</li>
</ul>
